openapi: 3.1.0
info:
  description: "Unkey's API provides programmatic access for all resources within our platform.\n\n\n### Authentication\n#\nThis API uses HTTP Bearer authentication with root keys. Most endpoints require specific permissions associated with your root key. When making requests, include your root key in the `Authorization` header:\n```\nAuthorization: Bearer unkey_xxxxxxxxxxx\n```\n\nAll responses follow a consistent envelope structure that separates operational metadata from actual data. This design provides several benefits:\n- Debugging: Every response includes a unique requestId for tracing issues\n- Consistency: Predictable response format across all endpoints\n- Extensibility: Easy to add new metadata without breaking existing integrations\n- Error Handling: Unified error format with actionable information\n\n### Success Response Format:\n```json\n{\n  \"meta\": {\n    \"requestId\": \"req_123456\"\n  },\n  \"data\": {\n    // Actual response data here\n  }\n}\n```\n\nThe meta object contains operational information:\n- `requestId`: Unique identifier for this request (essential for support)\n\nThe data object contains the actual response data specific to each endpoint.\n\n### Paginated Response Format:\n```json\n{\n  \"meta\": {\n    \"requestId\": \"req_123456\"\n  },\n  \"data\": [\n    // Array of results\n  ],\n  \"pagination\": {\n    \"cursor\": \"next_page_token\",\n    \"hasMore\": true\n  }\n}\n```\n\nThe pagination object appears on list endpoints and contains:\n- `cursor`: Token for requesting the next page\n- `hasMore`: Whether more results are available\n\n### Error Response Format:\n```json\n{\n  \"meta\": {\n    \"requestId\": \"req_2c9a0jf23l4k567\"\n  },\n  \"error\": {\n    \"detail\": \"The resource you are attempting to modify is protected and cannot be changed\",\n    \"status\": 403,\n    \"title\": \"Forbidden\",\n    \"type\": \"https://unkey.com/docs/errors/unkey/application/protected_resource\"\n  }\n}\n```\n\nError responses include comprehensive diagnostic information:\n- `title`: Human-readable error summary\n- `detail`: Specific description of what went wrong\n- `status`: HTTP status code\n- `type`: Link to error documentation\n- `errors`: Array of validation errors (for 400 responses)\n\nThis structure ensures you always have the context needed to debug issues and take corrective action."
  title: Unkey analytics liveness API
  version: 2.0.0
servers:
- url: https://api.unkey.com
security:
- rootKey: []
tags:
- description: Health check operations
  name: liveness
paths:
  /v2/liveness:
    get:
      description: 'Check if the Unkey API service is healthy and ready to handle requests.


        Use this for load balancer health checks, monitoring systems, and orchestration platforms. No authentication required with minimal processing overhead.


        **Required Permissions**


        None - this endpoint requires no authentication.


        **Side Effects**


        None - this is a read-only health check that does not modify any data or state.

        '
      operationId: liveness
      responses:
        '200':
          content:
            application/json:
              examples:
                healthy:
                  summary: Healthy service
                  value:
                    data:
                      message: OK
                    meta:
                      requestId: req_01H9TQPP77V5E48E9SH0BG0ZQX
              schema:
                $ref: '#/components/schemas/V2LivenessResponseBody'
          description: 'Service is healthy and ready to process requests. Returns ''OK'' message for normal operation.

            '
        '412':
          content:
            application/json:
              examples:
                degraded:
                  summary: Service in degraded state
                  value:
                    error:
                      detail: Service is in a degraded state. Some functionality may be limited.
                      status: 412
                      title: Precondition Failed
                      type: https://unkey.dev/errors/precondition-failed
                    meta:
                      requestId: req_01H9TQPP77V5E48E9SH0BG0ZQX
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: ''
        '500':
          content:
            application/json:
              examples:
                unhealthy:
                  summary: Service unhealthy
                  value:
                    error:
                      detail: The service is currently experiencing issues and may not be fully operational.
                      status: 500
                      title: Internal Server Error
                      type: https://unkey.dev/errors/internal-server-error
                    meta:
                      requestId: req_01H9TQPP77V5E48E9SH0BG0ZQY
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: 'Service is unhealthy and unable to process requests properly. Significant service issue requiring immediate attention.

            '
      security: []
      summary: Health Check
      tags:
      - liveness
      x-excluded: true
      x-speakeasy-ignore: true
components:
  schemas:
    InternalServerErrorResponse:
      type: object
      required:
      - meta
      - error
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        error:
          $ref: '#/components/schemas/BaseError'
      description: 'Error response when an unexpected error occurs on the server. This indicates a problem with Unkey''s systems rather than your request.


        When you encounter this error:

        - The request ID in the response can help Unkey support investigate the issue

        - The error is likely temporary and retrying may succeed

        - If the error persists, contact Unkey support with the request ID'
    Meta:
      type: object
      required:
      - requestId
      properties:
        requestId:
          description: A unique id for this request. Always include this ID when contacting support about a specific API request. This identifier allows Unkey's support team to trace the exact request through logs and diagnostic systems to provide faster assistance.
          example: req_123
          type: string
      additionalProperties: false
      description: Metadata object included in every API response. This provides context about the request and is essential for debugging, audit trails, and support inquiries. The `requestId` is particularly important when troubleshooting issues with the Unkey support team.
    BaseError:
      properties:
        detail:
          description: A human-readable explanation specific to this occurrence of the problem. This provides detailed information about what went wrong and potential remediation steps. The message is intended to be helpful for developers troubleshooting the issue.
          example: Property foo is required but is missing.
          type: string
        status:
          description: HTTP status code that corresponds to this error. This will match the status code in the HTTP response. Common codes include `400` (Bad Request), `401` (Unauthorized), `403` (Forbidden), `404` (Not Found), `409` (Conflict), and `500` (Internal Server Error).
          example: 404
          format: int
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This remains constant from occurrence to occurrence of the same problem and should be used for programmatic handling.
          example: Not Found
          type: string
        type:
          description: A URI reference that identifies the problem type. This provides a stable identifier for the error that can be used for documentation lookups and programmatic error handling. When followed, this URI should provide human-readable documentation for the problem type.
          example: https://unkey.com/docs/errors/unkey/resource/not_found
          type: string
      required:
      - title
      - detail
      - status
      - type
      type: object
      additionalProperties: false
      description: Base error structure following Problem Details for HTTP APIs (RFC 7807). This provides a standardized way to carry machine-readable details of errors in HTTP response content.
    V2LivenessResponseBody:
      type: object
      required:
      - meta
      - data
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          $ref: '#/components/schemas/V2LivenessResponseData'
    V2LivenessResponseData:
      type: object
      properties:
        message:
          description: Status message indicating the health of the service. A value of 'OK' indicates that the service is functioning properly and ready to accept requests. Any other value indicates a potential issue with the service health.
          example: OK
          type: string
      required:
      - message
      description: Response data for the liveness check endpoint. This provides a simple indication of whether the Unkey API service is running and able to process requests. Monitoring systems can use this endpoint to track service availability and trigger alerts if the service becomes unhealthy.
  securitySchemes:
    rootKey:
      bearerFormat: root key
      description: 'Unkey uses API keys (root keys) for authentication. These keys authorize access to management operations in the API.

        To authenticate, include your root key in the Authorization header of each request:

        ```

        Authorization: Bearer unkey_123

        ```

        Root keys have specific permissions attached to them, controlling what operations they can perform. Key permissions follow a hierarchical structure with patterns like `resource.resource_id.action` (e.g., `apis.*.create_key`, `apis.*.read_api`).

        Security best practices:

        - Keep root keys secure and never expose them in client-side code

        - Use different root keys for different environments

        - Rotate keys periodically, especially after team member departures

        - Create keys with minimal necessary permissions following least privilege principle

        - Monitor key usage with audit logs.'
      scheme: bearer
      type: http
